   .about-section {
            padding: 60px 20px;
        }

        .about-title {
            color: #0077B6;
            font-weight: bold;
        }

        .highlight {
            color: #FFD60A;
            font-weight: bold;
        }

        .about-card {
            border: none;
            border-radius: 12px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
            padding: 20px;
            margin-bottom: 20px;
            background: #fff;
        }

        /* Footer */
        footer {
            background: #3338A0;
            color: white;
            text-align: center;
            padding: 15px;
            margin-top: 20px;
        }


        /* Responsive */
        @media (max-width: 768px) {
            .cards {
                flex-direction: column;
                align-items: center;
            }

            header {
                flex-direction: column;
                text-align: center;
            }

            header nav ul {
                flex-direction: column;
                gap: 10px;
                margin-top: 10px;
            }
        }
