  /* Footer */
    footer {
      background: #3338A0;
      color: white;
      text-align: center;
      padding: 15px;
      margin-top: 50px;
    }

    footer h5 {
      color: darkorange;
      margin: 0;
    }
