 /* Navbar */
    .img {
      width: 100px;
      height: 100px;
      float: left;

    }

    body {
      margin: 0;
      padding: 0;
      background-color: #f9f9f9;

    }

    ul {
      padding: 0;
      width: 100%;
      margin: 0 0 0 250px;
      list-style: none;
    }

    .navbar {
      width: 100%;
      overflow: auto;
      background-color: #3338A0;
    }

    li {
      width: 100px;
      display: block;
      padding: 20px 15px;
      text-decoration: none;
      font-family: arial;
      color: white;
      text-align: center;
      float: left;
    }

    a:hover {
      color: #FCC61D;
      text-transform: uppercase;

    }

    a {
      width: 100px;
      display: block;
      padding: 8px 15px;
      text-decoration: none;
      font-family: arial;
      color: white;
      text-align: center;

    }

    .bar {
      float: right;
      border-radius: 100px;
      padding: 3px;
      margin-top: 20px;
      margin-right: 200px;
      margin-bottom: 10px;
      box-shadow: none;

    }

    input {
      border-radius: 100px;
      text-align: center;
    }

    button {
      border-radius: 100px;
    }

    /* Footer */
    footer {
      background: #3338A0;
      color: white;
      text-align: center;
      padding: 15px;
      margin-top: 50px;
    }

    footer h5 {
      color: darkorange;
      margin: 0;
    }
